.grid_1-1-1-1-1 {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    max-width: 100%;
    height: auto;   
    display: block;  
    margin: 0 auto;
    
}


.cv-container {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 20px;
}